* {
  background-color: brown;
}

.myApp {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.Start {
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -100px;
}

.Start > button:hover {
  background-color: transparent;
  border: groove;
}

p {
  color: #ffffff;
  text-align: right;
  text-decoration: underline;
}

button {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  border: none;
  padding: 25px;
  border-radius: 50px;
  background-color: transparent;
}

button:hover {
  background-color: green;
}

.one {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 300px;
  top: 50px;
}

.two {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1050px;
  top: 30px;
}

.three {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1200px;
  top: 160px;
}

.four {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 870px;
  top: 150px;
}

.five {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 670px;
  top: 390px;
}

.six {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 580px;
  top: 10px;
}

.seven {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1080px;
  top: 390px;
}

.eight {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 410px;
  top: 290px;
}

.nine {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 150px;
  top: 200px;
}

.showValue {
  background-color: transparent;
  position: absolute;
  top: 500px;
  left: 500px;
}

.Time {
  position: absolute;
  top: 500px;
  left: 1200px;
  font-size: 50px;
  color: white;
  border-style: groove;
  padding: 10px;
  border-radius: 30px;
  border-color: cornsilk;
}

ul {
  list-style-type: none;
  color: black;
  font-size: 30px;
  font-weight: 900;
}

li {
  display: inline;
}

/* Mobile view */

@media only screen and (max-width: 600px) {
  * {
    background-color: rgb(0, 74, 99);
  }

  .Start {
    position: fixed;
    top: 35%;
    left: 20%;
    animation-delay: 3s;
  }

  button {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    border: none;
    padding: 15px;
    border-radius: 200px;
    background-color: transparent;
  }
  .one {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 600px;
  }

  .two {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 30px;
  }

  .three {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 280px;
    top: 100px;
  }

  .four {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 200px;
  }

  .five {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 450px;
  }

  .six {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 100px;
    top: 550px;
  }

  .seven {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 150px;
    top: 250px;
  }

  .eight {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 250px;
    top: 440px;
  }

  .nine {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 600px;
  }
  .showValue {
    background-color: transparent;
    position: absolute;
    left: 50px;
    top: 700px;
  }
  .Time {
    background-color: transparent;
    position: absolute;
    left: 250px;
    top: 700px;
  }
}
